#attainment-motivator-image {
  .st0 {
    fill: #FBC670;
  }
  .st1 {
    opacity: 0.5;
    fill: #FBC670;
  }
  .st2 {
    fill: #FFFFFF;
  }

  text {
    font-size: 7px;
    font-family: 'Helvetica', 'Arial', 'Sans-serif';
    fill: rgb(209, 158, 85);
    text-anchor: middle;
  }
}