#money-motivator-image {
  &.money-motivator-image-1 {
    .st0 {
      fill: #E2E1E1;
    }
    .st1 {
      fill: #596F34;
    }
    .st2 {
      fill: #A08227;
    }
    .st3 {
      fill: #E8AC5C;
    }
    .st4 {
      fill: #3C3C3B;
    }
    .st5 {
      fill: #B2B2B2;
    }
    .st6 {
      fill: #BCC6E0;
    }
    .st7 {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 1.0753;
      stroke-linecap: round;
    }
    .st8 {
      fill: #333F1F;
    }
    .st9 {
      fill: none;
      stroke: #B2B2B2;
      stroke-width: 1.1849;
      stroke-linecap: round;
    }
    .st10 {
      fill: none;
      stroke: #B2B2B2;
      stroke-width: 3.0074;
      stroke-linecap: round;
    }
    .st11 {
      fill: #706F6F;
    }
    .st12 {
      fill: #878787;
    }
    .st13 {
      fill: #FFFFFF;
    }
    .st14 {
      fill: #C6C6C6;
    }
    .st15 {
      fill: none;
      stroke: #000000;
      stroke-width: 1.3844;
      stroke-linecap: round;
    }
    .st16 {
      fill: none;
      stroke: #000000;
      stroke-width: 0.6784;
      stroke-linecap: round;
    }
    .st17 {
      fill: none;
      stroke: #646363;
      stroke-width: 0.3392;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }

  &.money-motivator-image-2 {
    .st0 {
      fill: #E30613;
    }
    .st1 {
      fill: none;
      stroke: #B2B2B2;
      stroke-width: 1.5481;
      stroke-linecap: round;
    }
    .st2 {
      fill: #B2B2B2;
    }
    .st3 {
      fill: #878787;
    }
    .st4 {
      fill: #9B1915;
    }
    .st5 {
      fill: #BCC6E0;
    }
    .st6 {
      fill: #A31925;
    }
    .st7 {
      fill: #3C3C3B;
    }
    .st8 {
      fill: #FFFFFF;
    }
    .st9 {
      fill: #C6C6C6;
    }
    .st10 {
      fill: none;
      stroke: #CA1517;
      stroke-width: 0.8961;
      stroke-linecap: round;
    }
    .st11 {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 1.0753;
      stroke-linecap: round;
    }
    .st12 {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 0.6626;
      stroke-linecap: round;
    }
    .st13 {
      fill: none;
      stroke: #B2B2B2;
      stroke-width: 3.3632;
      stroke-linecap: round;
    }
    .st14 {
      fill: none;
      stroke: #000000;
      stroke-width: 2.6883;
      stroke-linecap: round;
    }
  }

  &.money-motivator-image-3 {
    .st0 {
      fill: #BCC6E0;
    }
    .st1 {
      fill: #FFCE00;
    }
    .st2 {
      fill: none;
      stroke: #000000;
      stroke-width: 0.8013;
      stroke-linecap: round;
    }
    .st3 {
      fill: #ECBF00;
    }
    .st4 {
      fill: #3C3C3B;
    }
    .st5 {
      fill: #B2B2B2;
    }
    .st6 {
      fill: #FFFFFF;
    }
    .st7 {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 1.0753;
      stroke-linecap: round;
    }
    .st8 {
      fill: none;
      stroke: #B2B2B2;
      stroke-width: 3.0074;
      stroke-linecap: round;
    }
    .st9 {
      fill: #F4992B;
    }
    .st10 {
      fill: none;
      stroke: #B2B2B2;
      stroke-width: 1.1849;
      stroke-linecap: round;
    }
    .st11 {
      fill: none;
      stroke: #6D6D6C;
      stroke-width: 0.3205;
    }
    .st12 {
      fill: #6D6D6C;
    }
  }

  &.money-motivator-image-4 {
    .st0 {
      fill: #B2B2B2;
    }
    .st1 {
      fill: #575756;
    }
    .st2 {
      fill: #BCC6E0;
    }
    .st3 {
      fill: #706F6F;
    }
    .st4 {
      fill: #3C3C3B;
    }
    .st5 {
      fill: none;
    }
    .st6 {
      fill: #333333;
    }
    .st7 {
      fill: #CACACA;
    }
    .st8 {
      fill: #FFFFFF;
    }
    .st9 {
      fill: none;
      stroke: #B2B2B2;
      stroke-width: 0.5654;
      stroke-linecap: round;
    }
    .st10 {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 1.0753;
      stroke-linecap: round;
    }
  }

  &.money-motivator-image-5 {
    .st0 {
      fill: #2690A8;
    }
    .st1 {
      fill: #3C3C3B;
    }
    .st2 {
      fill: #575756;
    }
    .st3 {
      fill: #B2B2B2;
    }
    .st4 {
      fill: #BCC6E0;
    }
    .st5 {
      fill: none;
    }
    .st6 {
      fill: #333333;
    }
    .st7 {
      fill: #CACACA;
    }
    .st8 {
      fill: #FFFFFF;
    }
    .st9 {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 1.0753;
      stroke-linecap: round;
    }
  }
}