#mastery-motivator-image {
  .st0 {
    fill: #1F90A8;
    stroke: #2690A8;
    stroke-width: 0.374;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st1 {
    fill: #F4E1D0;
  }
  .st2 {
    fill: none;
    stroke: #217588;
    stroke-width: 0.374;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st3 {
    fill: #217588;
    stroke: #217588;
    stroke-width: 0.3575;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st4 {
    fill: #93B253;
    stroke: #93B253;
    stroke-width: 0.374;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st5 {
    fill: none;
    stroke: #596F34;
    stroke-width: 0.374;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st6 {
    fill: #596F34;
    stroke: #596F34;
    stroke-width: 0.3575;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st7 {
    fill: #E30613;
    stroke: #E30613;
    stroke-width: 0.374;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st8 {
    fill: none;
    stroke: #9B1915;
    stroke-width: 0.374;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st9 {
    fill: #9B1915;
    stroke: #9B1915;
    stroke-width: 0.3575;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st10 {
    fill: #E8AC5C;
    stroke: #E8AC5C;
    stroke-width: 0.374;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st11 {
    fill: none;
    stroke: #F9B233;
    stroke-width: 0.374;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st12 {
    fill: #F9B233;
    stroke: #F9B233;
    stroke-width: 0.3575;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}