.career-motivator-icon {
  .st0{fill:#1E8FA7;}
  .st1{opacity:0.5;}
  .st2{fill:#FFFFFF;}
  .st3{fill:#D9D9D9;}
  .st4{fill:#B25353;}
  .st5{fill:#7A1520;}
  .st6{fill:#9A1915;}
  .st7{fill:#99A5BA;}
  .st8{fill:#BCC6DF;}
  .st9{fill:#E7AB5C;}
  .st10{fill:#C08749;}
  .st11{fill:#1F374F;}
}