.family-motivator-icon {
  .st0{fill:#3381B8;}
  .st1{fill:#93C01F;}
  .st2{fill:#BCC6DF;}
  .st3{fill:#99A5BA;}
  .st4{fill:#1F374F;}
  .st5{fill:#966153;}
  .st6{fill:#DE7561;}
  .st7{fill:#F3A07D;}
  .st8{fill:#D9D9D9;}
  .st9{fill:#B25353;}
  .st10{fill:#C08749;}
  .st11{fill:#9099AA;}
  .st12{fill:#F8B133;}
  .st13{fill:#BD1622;}
  .st14{fill:#5C6C26;}
}