.fear-of-failure-motivator-icon {
  .st0{fill:#92B153;}
  .st1{fill:#1E8FA7;}
  .st2{fill:#9099AA;}
  .st3{fill:#636362;}
  .st4{fill:#BD1622;}
  .st5{fill:#CE6026;}
  .st6{fill:#BCC6DF;}
  .st7{fill:#C08749;}
  .st8{fill:#745449;}
  .st9{fill:#3F3431;}
  .st10{opacity:0.7;}
  .st11{fill:#1D1D1B;}
}