.mastery-motivator-icon {
  .st0{fill:#BCC6DF;}
  .st1{fill:#643A8D;}
  .st2{fill:#CDB888;}
  .st3{fill:#E8D198;}
  .st4{fill:#FCE5A7;}
  .st5{fill:#CC6216;}
  .st6{fill:#5C6C26;}
  .st7{fill:#1D1D1B;}
  .st8{fill:#F8B133;}
}