.money-motivator-icon {
  .st0{fill:#B25353;}
  .st1{fill:#93C01F;}
  .st2{fill:#5C6C26;}
  .st3{fill:#8DB723;}
  .st4{fill:#80A229;}
  .st5{fill:#7B982A;}
  .st6{fill:#F8B133;}
  .st7{fill:#E7AB5C;}
  .st8{fill:#CE6026;}
  .st9{fill:#CCCCCC;}
  .st10{fill:#BCB9B8;}
  .st11{fill:#4D4D4D;}
  .st12{fill:#FFFFFF;}
  .st13{fill:#6F6F6E;}
}