#self-development-motivator-image {
  .self-development-motivator-image-1 {
    .st0 {
      fill: #7C7C7B;
    }
    .st1 {
      fill: #9D9D9C;
    }
    .st2 {
      fill: #FFFFFF;
    }
    .st3 {
      fill: #3B3B3B;
    }
    .st4 {
      opacity: 0.5;
    }
    .st5 {
      fill: #3382B9;
    }
    .st6 {
      fill: #976153;
    }
  }

  .self-development-motivator-image-2 {
    .st0 {
      fill: #C4C4C4;
    }
    .st1 {
      fill: #666666;
    }
    .st2 {
      fill: #976153;
    }
    .st3 {
      fill: none;
      stroke: #9D9D9C;
      stroke-width: 1.1302;
      stroke-linecap: square;
      stroke-linejoin: round;
    }
    .st4 {
      fill: #6D6D6C;
    }
  }

  .self-development-motivator-image-3 {
    .st0 {
      fill: none;
      stroke: #706F6F;
      stroke-width: 0.05;
    }
    .st1 {
      fill: #1F90A8;
    }
    .st2 {
      fill: #976153;
    }
  }

  .self-development-motivator-image-4 {
    .st0 {
      fill: none;
      stroke: #777776;
      stroke-width: 0.7912;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
    .st1 {
      fill: none;
      stroke: #9D9D9C;
      stroke-width: 0.7912;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
    .st2 {
      opacity: 0.2;
    }
    .st3 {
      fill: none;
      stroke: #000000;
      stroke-width: 1.1302;
    }
    .st4 {
      fill: #9D9D9C;
    }
    .st5 {
      fill: #8F8F8E;
    }
    .st6 {
      fill: #787978;
    }
    .st7 {
      fill: none;
      stroke: #E30613;
      stroke-width: 1.1302;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
    .st8 {
      fill: none;
      stroke: #686867;
      stroke-width: 0.1707;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
    .st9 {
      stroke: #000000;
      stroke-width: 7.315663 e-02;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
    .st10 {
      fill: none;
      stroke: #B9B8B8;
      stroke-width: 0.7912;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }

  .self-development-motivator-image-5 {
    .st0 {
      fill: #2690A8;
    }
    .st1 {
      stroke: #000000;
      stroke-width: 0.822;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
    .st2 {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 0.7912;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}