#options-motivator-image {
  &.options-motivator-image-1 {
    .st0 {
      fill: #E2E1E1;
    }
    .st1 {
      fill: #666665;
    }
    .st2 {
      fill: #BCC6E0;
    }
    .st3 {
      fill: #9AA6BB;
    }
    .st4 {
      fill: #9B1915;
    }
    .st5 {
      fill: #E30613;
    }
    .st6 {
      fill: #333333;
    }
    .st7 {
      fill: #A6A6A5;
    }
    .st8 {
      fill: #FFCE00;
    }
    .st9 {
      fill: #976153;
    }
    .st10 {
      fill: #6B4C47;
    }
    .st11 {
      fill: #575756;
    }
    .st12 {
      fill: #F0F0F0;
    }
    .st13 {
      fill: #1F374F;
    }
    .st14 {
      fill: #E8AC5C;
    }
    .st15 {
      fill: #C18849;
    }
    .st16 {
      fill: none;
      stroke: #6D4D46;
      stroke-width: 0.4217;
      stroke-miterlimit: 10;
    }
    .st17 {
      fill-rule: evenodd;
      clip-rule: evenodd;
      fill: #004996;
    }
    .st18 {
      fill-rule: evenodd;
      clip-rule: evenodd;
      fill: #E40520;
    }
  }

  &.options-motivator-image-2 {
    .st0 {
      fill: #DADADA;
    }
    .st1 {
      fill: #D6D6D6;
    }
    .st2 {
      fill: #7A1520;
    }
    .st3 {
      fill: #B35353;
    }
    .st4 {
      fill: #9B1915;
    }
    .st5 {
      fill: #666666;
    }
    .st6 {
      fill: #333333;
    }
    .st7 {
      fill: #BCC6E0;
    }
    .st8 {
      fill: #9AA6BB;
    }
    .st9 {
      fill: #976153;
    }
    .st10 {
      fill: #FFFFFF;
    }
    .st11 {
      fill: #E8AC5C;
    }
    .st12 {
      fill: #1F374F;
    }
    .st13 {
      fill: #575756;
    }
  }

  &.options-motivator-image-3 {
    .st0 {
      fill: #E2E1E1;
    }
    .st1 {
      fill: #976153;
    }
    .st2 {
      fill: #333333;
    }
    .st3 {
      fill: #FFFFFF;
    }
    .st4 {
      fill: #BCC6E0;
    }
    .st5 {
      fill: #9AA6BB;
    }
    .st6 {
      fill: #1F374F;
    }
    .st7 {
      fill: #E8AC5C;
    }
    .st8 {
      fill: #C18849;
    }
    .st9 {
      fill: #B56E46;
    }
    .st10 {
      fill: #2690A8;
    }
    .st11 {
      fill: #B9B8B8;
    }
    .st12 {
      fill: #65A4B9;
    }
    .st13 {
      fill: #92B9CA;
    }
    .st14 {
      fill: #F9F9F9;
    }
    .st15 {
      fill: #F5A37A;
    }
    .st16 {
      opacity: 0.3;
      fill: #333333;
    }
    .st17 {
      opacity: 0.8;
    }
    .st18 {
      fill: #575756;
    }
  }

  &.options-motivator-image-4 {
    .st0 {
      fill: #976153;
    }
    .st1 {
      fill: #333333;
    }
    .st2 {
      fill: #FFFFFF;
    }
    .st3 {
      fill: #E2E1E1;
    }
    .st4 {
      fill: #F7DEC0;
    }
    .st5 {
      fill: #E8AC5C;
    }
    .st6 {
      fill: #C18849;
    }
    .st7 {
      fill: #B56E46;
    }
    .st8 {
      fill: #EDBC7D;
    }
    .st9 {
      fill: #F2CE9F;
    }
    .st10 {
      fill: #FBEFE0;
    }
    .st11 {
      fill: #5E616D;
    }
    .st12 {
      fill: #9AA6BB;
    }
    .st13 {
      fill: #515B6F;
    }
    .st14 {
      fill: #BCC6E0;
    }
    .st15 {
      fill: #575B5C;
    }
    .st16 {
      fill: #63A4B9;
    }
    .st17 {
      fill: #9F9E95;
    }
    .st18 {
      fill: #89B5C6;
    }
    .st19 {
      fill: none;
      stroke: #D0D0D0;
      stroke-width: 0.2677;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st20 {
      fill: none;
      stroke: #000000;
      stroke-width: 0.5773;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st21 {
      fill: #DDE7EE;
    }
    .st22 {
      fill: #B9D0DB;
    }
    .st23 {
      fill: #1F90A8;
    }
    .st24 {
      fill: #91BACA;
    }
    .st25 {
      opacity: 0.7;
      fill: #254E6C;
    }
    .st26 {
      fill: #575756;
    }
  }

  &.options-motivator-image-5 {
    .st0 {
      fill: #E2E1E1;
    }
    .st1 {
      fill: #BCC6E0;
    }
    .st2 {
      fill: #1F374F;
    }
    .st3 {
      fill: #88A0CB;
    }
    .st4 {
      fill: #E8AC5C;
    }
    .st5 {
      fill: #C18849;
    }
    .st6 {
      fill: #575756;
    }
    .st7 {
      fill: #404040;
    }
    .st8 {
      fill: #B2B2B2;
    }
    .st9 {
      fill: #525251;
    }
    .st10 {
      fill: none;
      stroke: #000000;
      stroke-width: 5.247194 e-02;
      stroke-miterlimit: 10;
    }
    .st11 {
      fill: #D0D0D0;
    }
    .st12 {
      fill: none;
      stroke: #838382;
      stroke-width: 0.6563;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
    .st13 {
      fill: none;
      stroke: #838382;
      stroke-width: 0.5054;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
    .st14 {
      fill: #A6A6A5;
    }
    .st15 {
      fill: #C2C2C2;
    }
    .st16 {
      fill: #838382;
    }
    .st17 {
      fill: #E30613;
    }
    .st18 {
      fill: #333333;
    }
    .st19 {
      fill: #9AA6BB;
    }
  }
}