#fear-of-failure-motivator-image {
  &.fear-of-failure-motivator-image-1 {
    .st0 {
      fill: #C18849;
    }
    .st1 {
      fill: #745449;
    }
    .st2 {
      fill: #3F3532;
    }
    .st3 {
      fill: none;
      stroke: #636362;
      stroke-width: 2.8139;
      stroke-linecap: round;
    }
    .st4 {
      fill: #BD1622;
    }
    .st5 {
      fill: none;
      stroke: #CE6026;
      stroke-width: 0.6618;
      stroke-linecap: round;
    }
    .st6 {
      fill: #9099AA;
    }
    .st7 {
      fill: #BCC6DF;
    }
    .st8 {
      opacity: 0.7;
      fill: #1D1D1B;
    }
  }

  &.fear-of-failure-motivator-image-2 {
    .st0 {
      fill: none;
      stroke: #636362;
      stroke-width: 2.8139;
      stroke-linecap: round;
    }
    .st1 {
      fill: #C18849;
    }
    .st2 {
      fill: #745449;
    }
    .st3 {
      fill: #3F3532;
    }
    .st4 {
      fill: #9099AA;
    }
    .st5 {
      fill: #BCC6DF;
    }
    .st6 {
      opacity: 0.7;
      fill: #1D1D1B;
    }
    .st7 {
      fill: #BD1622;
    }
    .st8 {
      fill: none;
      stroke: #CE6026;
      stroke-width: 0.6618;
      stroke-linecap: round;
    }
  }

  &.fear-of-failure-motivator-image-3 {
    .st0 {
      fill: #C18849;
    }
    .st1 {
      fill: #745449;
    }
    .st2 {
      fill: #3F3532;
    }
    .st3 {
      fill: none;
      stroke: #636362;
      stroke-width: 2.8139;
      stroke-linecap: round;
    }
    .st4 {
      fill: #9099AA;
    }
    .st5 {
      fill: #BCC6DF;
    }
    .st6 {
      opacity: 0.7;
      fill: #1D1D1B;
    }
    .st7 {
      fill: #BD1622;
    }
    .st8 {
      fill: none;
      stroke: #CE6026;
      stroke-width: 0.6618;
      stroke-linecap: round;
    }
  }

  &.fear-of-failure-motivator-image-4 {
    .st0 {
      fill: #C18849;
    }
    .st1 {
      fill: #745449;
    }
    .st2 {
      fill: #3F3532;
    }
    .st3 {
      fill: none;
      stroke: #636362;
      stroke-width: 2.8139;
      stroke-linecap: round;
    }
    .st4 {
      fill: #9099AA;
    }
    .st5 {
      fill: #BCC6DF;
    }
    .st6 {
      opacity: 0.7;
      fill: #1D1D1B;
    }
    .st7 {
      fill: #BD1622;
    }
    .st8 {
      fill: none;
      stroke: #CE6026;
      stroke-width: 0.6618;
      stroke-linecap: round;
    }
  }

  &.fear-of-failure-motivator-image-5 {
    .st0 {
      fill: #C18849;
    }
    .st1 {
      fill: #745449;
    }
    .st2 {
      fill: #3F3532;
    }
    .st3 {
      fill: none;
      stroke: #636362;
      stroke-width: 2.8139;
      stroke-linecap: round;
    }
    .st4 {
      fill: #9099AA;
    }
    .st5 {
      fill: #BCC6DF;
    }
    .st6 {
      opacity: 0.7;
      fill: #1D1D1B;
    }
    .st7 {
      fill: #BD1622;
    }
    .st8 {
      fill: none;
      stroke: #CE6026;
      stroke-width: 0.6618;
      stroke-linecap: round;
    }
  }
}