#family-motivator-image {
  &.family-motivator-image-1 {
    .st0 {
      fill: #BCC6E0;
    }
    .st1 {
      fill: none;
      stroke: #1F374F;
      stroke-width: 0.8269;
      stroke-linecap: round;
    }
    .st2 {
      fill: #976153;
    }
    .st3 {
      fill: #6B4C47;
    }
    .st4 {
      fill: #9AA6BB;
    }
    .st5 {
      fill: #1F374F;
    }
    .st6 {
      fill: #E8AC5C;
    }
    .st7 {
      fill: #C18849;
    }
    .st8 {
      fill: #6D4D46;
    }
    .st9 {
      fill: #A00057;
    }
    .st10 {
      fill: #E8387C;
    }
  }

  &.family-motivator-image-2 {
    .st0 {
      fill: #BCC6E0;
    }
    .st1 {
      fill: none;
      stroke: #1F374F;
      stroke-width: 0.8269;
      stroke-linecap: round;
    }
    .st2 {
      fill: #976153;
    }
    .st3 {
      fill: #6B4C47;
    }
    .st4 {
      fill: #9AA6BB;
    }
    .st5 {
      fill: #1F374F;
    }
    .st6 {
      fill: #E8AC5C;
    }
    .st7 {
      fill: #C18849;
    }
    .st8 {
      fill: #6D4D46;
    }
    .st9 {
      fill: #596F34;
    }
    .st10 {
      fill: #93B253;
    }
  }

  &.family-motivator-image-3 {
    .st0 {
      fill: #BCC6E0;
    }
    .st1 {
      fill: #9AA6BB;
    }
    .st2 {
      fill: #6D4D46;
    }
    .st3 {
      fill: #E8AC5C;
    }
    .st4 {
      fill: #C18849;
    }
    .st5 {
      fill: #1F374F;
    }
    .st6 {
      fill: none;
      stroke: #1F374F;
      stroke-width: 1.5578;
      stroke-linecap: round;
    }
    .st7 {
      fill: none;
      stroke: #1F374F;
      stroke-width: 0.6676;
      stroke-linecap: round;
    }
    .st8 {
      fill: #976153;
    }
  }

  &.family-motivator-image-4 {
    .st0 {
      fill: #9AA6BB;
    }
    .st1 {
      fill: #6D4D46;
    }
    .st2 {
      fill: #3699CF;
    }
    .st3 {
      fill: #4460AA;
    }
    .st4 {
      fill: #BCC6E0;
    }
    .st5 {
      fill: #976153;
    }
    .st6 {
      fill: #6B4C47;
    }
    .st7 {
      fill: #DF7561;
      stroke: #DF7561;
      stroke-width: 1.2549;
      stroke-linejoin: round;
    }
    .st8 {
      fill: none;
      stroke: #F4A17D;
      stroke-width: 0.9845;
      stroke-linecap: round;
    }
    .st9 {
      fill: #1F374F;
    }
    .st10 {
      fill: none;
      stroke: #DADADA;
      stroke-width: 3.9879;
      stroke-linecap: round;
    }
    .st11 {
      fill: none;
      stroke: #DADADA;
      stroke-width: 2.3927;
      stroke-linecap: round;
    }
    .st12 {
      fill: none;
      stroke: #1F374F;
      stroke-width: 0.8269;
      stroke-linecap: round;
    }
    .st13 {
      fill: #E8AC5C;
    }
    .st14 {
      fill: #C18849;
    }
    .st15 {
      opacity: 0.5;
      fill: #6D4D46;
    }
  }

  &.family-motivator-image-5 {
    .st0 {
      fill: #BE1622;
    }
    .st1 {
      fill: #7A1520;
    }
    .st2 {
      fill: none;
      stroke: #1F374F;
      stroke-width: 0.7319;
      stroke-linecap: round;
    }
    .st3 {
      fill: #1F374F;
    }
    .st4 {
      fill: #BCC6E0;
    }
    .st5 {
      fill: #9AA6BB;
    }
    .st6 {
      fill: #88A0CB;
    }
    .st7 {
      fill: #E8AC5C;
    }
    .st8 {
      fill: none;
    }
    .st9 {
      fill: #C18849;
    }
    .st10 {
      fill: #6D4D46;
    }
  }
}
